<!--
  Top Most Wrapper

  Takes up full screen and uses flex column to stack nav and main content vertically
-->
<div class="flex flex-col overflow-hidden h-screen w-full bg-gray-100">

  <!-- Top Nav -->
  <nav class="flex justify-between bg-teal-500 p-6">

    <!-- App Brand -->
    <div class="text-white mr-6">
      <span class="font-semibold text-xl">Example App</span>
    </div>

    <!--
      Menu Hamburger

      Is a block, but becomes hidden on medium device size and up
    -->
    <div class="block md:hidden">
      <button class="px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
  </nav>

  <!--
    Main Content

    Flex element that holds the sidebar and messages wrapper (flex direction is row by default).
    Fills available space and prevents any content from overflowing its bounds.
    The overflow-hidden allows the overflow-y-scroll in the scrollable container to work properly.

    https://stackoverflow.com/questions/57671255/keeping-one-column-fixed-while-th-other-scrolls
  -->
  <div class="flex flex-1 overflow-hidden">

    <!--
      Sidebar

      Hidden, but becomes a block on medium device size and up
    -->
    <div class="hidden md:block bg-gray-600 w-64">
      Sidebar
    </div>

    <!--
      Messages Wrapper

      Expands to available space and stacks scrollable container on top of the input box
    -->
    <div class="flex flex-1 flex-col">

      <!--
        Scrollable Container

        Expands to available space and uses vertical scroll for overflow
      -->
      <div class="flex-1 overflow-y-scroll">

        <!--
          Message

          Margin auto is needed here to center this element

          https://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties/33856609#33856609
        -->
        <div class="m-auto max-w-sm rounded overflow-hidden shadow-lg px-6 py-4">
          <p class="text-gray-700 text-base">
            Sugar robusta dark french press frappuccino americano redeye. Foam skinny, froth latte single origin fair trade cup wings at mocha single origin. French press brewed aroma galão et café au lait percolator siphon. Arabica brewed con panna frappuccino acerbic, lungo macchiato irish a robusta caffeine. Mazagran robusta fair trade aftertaste, trifecta, arabica sit barista foam ristretto coffee.
          </p>
        </div>

        <div class="m-auto max-w-sm rounded overflow-hidden shadow-lg px-6 py-4">
          <p class="text-gray-700 text-base">
            Sugar robusta dark french press frappuccino americano redeye. Foam skinny, froth latte single origin fair trade cup wings at mocha single origin. French press brewed aroma galão et café au lait percolator siphon. Arabica brewed con panna frappuccino acerbic, lungo macchiato irish a robusta caffeine. Mazagran robusta fair trade aftertaste, trifecta, arabica sit barista foam ristretto coffee.
          </p>
        </div>

        <div class="m-auto max-w-sm rounded overflow-hidden shadow-lg px-6 py-4">
          <p class="text-gray-700 text-base">
            Sugar robusta dark french press frappuccino americano redeye. Foam skinny, froth latte single origin fair trade cup wings at mocha single origin. French press brewed aroma galão et café au lait percolator siphon. Arabica brewed con panna frappuccino acerbic, lungo macchiato irish a robusta caffeine. Mazagran robusta fair trade aftertaste, trifecta, arabica sit barista foam ristretto coffee.
          </p>
        </div>

        <div class="m-auto max-w-sm rounded overflow-hidden shadow-lg px-6 py-4">
          <p class="text-gray-700 text-base">
            Sugar robusta dark french press frappuccino americano redeye. Foam skinny, froth latte single origin fair trade cup wings at mocha single origin. French press brewed aroma galão et café au lait percolator siphon. Arabica brewed con panna frappuccino acerbic, lungo macchiato irish a robusta caffeine. Mazagran robusta fair trade aftertaste, trifecta, arabica sit barista foam ristretto coffee.
          </p>
        </div>

      </div>

      <!-- Text Box -->
      <div class="w-full bg-white">
        <div class="px-6 py-4">
          <textarea placeholder="Add a message"></textarea>
        </div>
      </div>

    </div>

  </div>

</div>